.parent {
  background-color: red;
  display: flex;
  justify-content: center;
  align-item: center;
}

.child-one {
  background-color: blue;
  height: 10rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
}

.child-two {
  height: 10rem;
  width: 10rem;
  background-color: black;
}
